<!doctype html>
<html>
    <body>
        <p>Dear {{ user.username }},</p>
        <p>
            Чтобы сбросить свой пароль,
            <a href="{{ url_for('reset_password', token=token, _external=True) }}">
                кликните сюда
            </a>.
        </p>
        <p>Кроме того, вы можете вставить следующую ссылку в адресную строку вашего браузера:</p>
        <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
        <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.</p>
        <p>Искренне,</p>
        <p>Команда Микроблога</p>
    </body>
</html>